absl-py==2.1.0
albucore==0.0.17
albumentations==1.4.18
annotated-types==0.7.0
blas==1.0
ca-certificates==2024.12.31
cachetools==5.5.1
certifi==2024.12.14
charset-normalizer==3.4.1
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
efficientnet-pytorch==0.7.1
einops==0.8.0
eval-type-backport==0.2.2
filelock==3.13.1
fonttools==4.55.3
fsspec==2024.2.0
google-auth==2.37.0
google-auth-oauthlib==1.0.0
grpcio==1.69.0
huggingface-hub==0.27.1
icc_rt==2022.1.0
idna==3.10
imageio==2.35.1
importlib-metadata==8.5.0
importlib-resources==6.4.5
intel-openmp==2021.4.0